[submodule "less-precompiler"]
        path = packages/less-precompiler
        url = git://github.com/kanso/less-precompiler.git
[submodule "prototype/xlsxconverter"]
	path = prototype/xlsxconverter
	url = https://github.com/UW-ICTD/XLSXConverter.git
