<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{title}}</title>

    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700|PT+Serif:400,700,400italic,700italic|Radley' rel='stylesheet' type='text/css'>
	<link type="text/css" href="{{baseURL}}/static/css/alpaca.css" rel="stylesheet"/>
	<link type="text/css" href="{{baseURL}}/static/css/alpaca-bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/css/clinic.css" />
    <link rel="stylesheet" type="text/css" href="{{baseURL}}/static/css/style.css" />
    <!-- styles for table of contents -->
    <style>
        .toc_list {padding:0; margin:0;}
        .toc_h2 {margin-left:0px;  list-style: none;}
        .toc_h3 {margin-left:10px; list-style: none;}
        .toc_h4 {margin-left:20px; list-style: none;}
        .toc_h5 {margin-left:30px; list-style: none;}
    </style>
	
  </head>
  <body onload="toc();">
      <!-- Alerts/Messages -->

     <div class="row-fluid">
       <div class="span6">
         <!-- <p class="lead">(alerts/messages here)</p> -->
       </div>
     </div>
	<div class="container">  
    <div class="row-fluid">
        <div class="span8">
            <h1 class="page_title">{{title}}</h1>
        </div>
        <div class="span4">
            <img src="{{baseURL}}/static/img/floatingclinic_logo.png">
        </div>
    </div>
    </div>
    <div id="content">
      {{content}}
    </div>
	<script type="text/javascript" src="{{baseURL}}/static/js/jquery-latest.min.js"></script>
	<script type="text/javascript" src="{{baseURL}}/static/js/alpaca.min.js"></script>
	<script type="text/javascript" src="{{baseURL}}/bootstrap/js/collapse.js"></script>
    <script type="text/javascript">
        function toc() {
        var ToC =
        "<nav role='navigation' class='table-of-contents'>" +
            "<ul class='toc_list'>";
            var newLine, el,title,link;
            $('.toc').each(function(){
                el=$(this);
                title=el.text();
                link="#"+el.attr("id");
                tag = el.prop("tagName");
                newLine =
                    '<li style="list-style: none; padding:0; margin:0;">' +
                    "<a href='" + link + "' class='toc_" + tag + "'>" +
                        title +
                    "</a>" +
                    "</li>";

                ToC += newLine;
            });
            ToC +=
            "</ul>" +
            "</nav>";
            $('.toc_area').html(ToC);
        }

        
    </script>
    <script type="text/javascript" src="{{baseURL}}/modules.js"></script>
    <script type="text/javascript" src="{{baseURL}}/duality.js"></script>
  </body>
</html>