<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="cancel btn-close">&times;</button>
    <h3>{title}</h3>
  </div>
  <div class="modial-dialog bs-modal-sm">
    <div class="modal-content">
      <form id="login_form" action="" method="POST">
        <fieldset>
         <div class="control-group">
           <label class="control-label" for="id_username">Username</label>
           <div class="controls">
             <input id="id_username" name="username" type="text" />
           </div>
         </div>
         <div class="control-group">
           <label class="control-label" for="id_password">Password</label>
           <div class="controls">
             <input id="id_password" name="password" type="password" />
           </div>
         </div>
       </fieldset>
     </form>
   <p class="pull-left note">{note}</p>
    <a href="#" class="btn btn-cancel">Cancel</a>
    <a href="#" class="btn submit btn-primary">Submit</a>
   </div>
 </div>
</div>
