<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">LTFHC Home</a>
			<button type="button" class="btn btn-navbar btn-default" data-toggle="collapse" data-target=".nav-collapse"></button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
					<!-- <li><a href="/about">About/Contact</a></li> -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms</a>
						<ul class="dropdown-menu">
							<li class="nav-header">Medical Visit Forms
							</li>
							<li>
								<a href="/patient_intake/">Patient Intake</a>
							</li>
							<li>
								<a href="/disease_diagnosis/">Disease Diagnosis</a>
							</li>
							<li>
								<a href="/reproductive_counseling/">Reproductive Counseling</a>
							</li>
							<li class="nav-header">Admin Forms/links
							</li>
							<li>
								<a href="/form_list/">List of other forms</a>
							</li>
						</ul>
					</li><!-- dropdown -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports</a>
						<ul class="dropdown-menu">
							<li class="nav-header">Reports....
							</li>
							<li>
								<a href="/list_formentry">View saved reports</a>
							</li>
							<li>
								<a href="/reports/report_anc">Taarifa ya Mwezi Toka Kliniki (ANC) (rough)</a>
							</li>
							<li>
								<a href="/reports/report_childgrowth">Ripoti ya Mwezi ya Ufuatiliaji wa Watoto (Child Growth) (rough)</a>
							</li>
							<li>
								<a href="/reports/report_contraceptive">Report Contraceptive</a>
							</li>
							<li>
								<a href="/reports/report_dtc">Report DTC (rough)</a>
							</li>
							<li>
								<a href="/reports/report_ipd">Report IPD (rough)</a>
							</li>
							<li>
								<a href="/reports/report_leprosy">Report Leprosy</a>
							</li>
							<li>
								<a href="/reports/report_mortality">Report Mortality</a>
							</li>
							<li>
								<a href="/reports/report_motherchildward">Report Mother Child Ward</a>
							</li>
							<li>
								<a href="/reports/report_opd">Report OPD</a>
							</li>
							<li>
								<a href="/reports/report_postnatal">Report Post Natal (rough)</a>
							</li>
							<li>
								<a href="/reports/report_tb">Report TB</a> <!-- Old reports
			  <li><a href="/reports/idsr">Infectious diseases Notification</a>
			  <li><a href="/reports/immunization_vitamin_a">Immunizations and Vitamin A (F202) (template)</a>
			  <li><a href="/reports/pmtct/1">Prevention of HIV Mother to Child - Labor and Delivery (maternity ward)(tk)</a>
			  <li><a href="/reports/pmtct/2">Prevention of HIV Mother to Child - Monitoring of baby born to an HIV-positive mother(tk)</a>
			  <li><a href="/reports/pmtct/3">Prevention of HIV Mother to Child - Monthly Summary(tk)</a>
			  <li><a href="/reports/">EPI 1 (tk)</a>
			  <li><a href="/reports/">EPI 2 (tk)</a>
			  <li><a href="/reports/sti">Facility Monthly STI Summary Form (template)</a>


			  <li class="divider"></li>
			  <li class="nav-header">Medication Dispensing Forms</li>
			  <li><a href="/reports/dispensing_1">HIV Related : Application form/reports and applications for opportunistic infections drugs (dispensing Form 1)</a>
			  <li><a href="/reports/dispensing_2">General Report : Form 2A / Critical shipments for clinics and health centers (form 2)</a>
			  <li><a href="/reports/dispensing_4">Malaria : Form 2A / Reports and applications (R & R) of drugs/Supplemental treatment supplies (dispensing form 4)</a>
			  <li><a href="/reports/dispensing_3">Empty form : Form 2C / Reports and applications (R & R) of drugs/Supplemental treatment supplies (dispensing form 3)</a>
			  <li><a href="/reports/dispensing_5">Summary of patients according to the drug mix (regimens) (dispensing form 5)</a>

			-->
							</li>
							<li class="nav-header">Administration Reports
							</li>
							<li>
								<a href="/docs/report_list.txt">List of Reports/Development notes</a>
							</li>
							<li>
								<a href="/reasons">Display visit reasons</a>
							</li>
						</ul>
					</li><!-- dropdown -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation/Help</a>
						<ul class="dropdown-menu">
							<li class="nav-header">Documents
							</li>
							<li>
								<a href="/docs/en_wtnd_2013_full.pdf">Where there is no Doctor</a>
							</li>
							<li class="nav-header">Electronic Medical Record System Documentation
							</li>
							<li>
								<a href="/docs/LTFHC-FormsDocumentation.pdf">User Manual</a>
							</li>
							<li class="nav-header">Admin Level documentation
							</li>
							<li>
								<a href="/help/medication_dispensing_forms.html">Medication Dispensing Forms Management</a>
							</li>
							<li>
								<a href="/help/wip.txt">Current Task list</a>
							</li>
							<li>
								<a href="http://ltfhc-dev.hact.net/admin/doc/">Django Admin Docs</a>
							</li>
						</ul>
					</li><!-- dropdown -->
					<!-- Patient Drop down currently not relevant? 
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Patient<b class="caret"></b></a>
			<ul class="dropdown-menu">
			  <li><a href="/patient_intake/">Patient Intake</a>
			  <li><a href="/patient_list/">List of Patients</a>
			  <li><a href="">other tool</a></li>
			  <li class="divider"></li>
			  <li class="nav-header">Other Tools</li>
			  <li><a href="">item 1 </a></li>
			  <li><a href="">item 2</a></li>
			  <li><a href="#"></a></li>
			</ul>
		  </li>
	-->
					<li class="dropdown" id="menu1">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">User lake</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/user/profile">My Profile</a>
							</li>
							<li>
								<a href="/user/logout">Log Out</a>
							</li>
							<li>
								<a href="/admin">Django Admin</a>
							</li>
						</ul><!-- dropdown-menu ul? -->
					</li><!-- dropdown -->
					<!-- Language -->
					<li style="list-style: none">
						<form class="lang" action="/i18n/setlang/" method="post">
							<input class="form-control" name="csrfmiddlewaretoken" value="PJxLvK0fPXeLyiyjbALiAAzutk51Ep6h" type="hidden"> <input class="form-control" name="next" value="" type="hidden"> <select style="margin: 5px;float:left;" name="language" onchange="this.form.submit()">
								<option value="en" selected="selected">
									English (en)
								</option>
								<option value="fr">
									français (fr)
								</option>
								<option value="sw">
									Kiswahili (sw)
								</option>
							</select> <!-- <input style="margin: 5px;" type="submit" value="Go" />  -->
						</form>
					</li>
				</ul><!-- top navigation -->
			</div><!--/.nav-collapse -->
		</div>
	</div>
</nav>
