<div class="btn-group new-patient pull-right">
  <a class="btn btn-primary btn dropdown-toggle" data-toggle="dropdown" href="{baseURL}/patient"><i class="icon icon-edit icon-large"></i> New Patient </a>
</div>
<div id="search-filter" class="records-filter pull-right">
  <div class="btn-group">
    <div class="input-append">
      <form action="" method="get" class="form-inline">
		  <div class="input-group">
			<input 
			  id="search-filter-input"
	          name="search" 
	          value="{query.search}"
	          type="text" 
	          class="form-control"
			  placeholder="{@translate value="Search"/}" />
			  <span class="input-group-btn">
      			<a type="submit" class="btn btn-default" href="#">
	          	  <i class="icon icon-search"></i>
				</a>
			</span>
		  </div>
		  
    </form>
    </div>
  </div>
</div>