<div id="patient">
  {>"loader.html"/}
  <div class="row">
      <div class="col-md-12">
          <form id="patient-form" action="" method="post">
						<div id="form"></div>
						<input type="hidden" id="_submit" name="_submit" value="" />
						<a id='patient-action' class='btn btn-lg btn-default' href='javascript:history.back()'>Cancel</a>
						<button class='btn btn-lg btn-info' type='submit' value='save' onclick='$("#_submit").val("save")'>{@translate value="Save"/}</button>
						<button class='btn btn-lg btn-primary pull-right' type='submit' value='save_visit' onclick='$("#_submit").val("save_visit")'>{@translate value="Save and Start Visit"/}</button>
          </form>
      </div>
  </div>
</div>
