<div id="patient">
  {>"loader.html"/}
  <div class="row">
      <div class="col-md-12">
          <form id="patient-form" action="#" method="post">
						<div id="form"></div>
						<a id='patient-action' class='btn btn-lg btn-default' href='../patients'>Cancel</a>
						<button id='patient-action' class='btn btn-lg btn-info' type='submit' value='save'>Save</button>
						<button id='patient-action' class='btn btn-lg btn-primary pull-right' type='submit' value='save_visit'>Save and Start Visit</button>
          </form>
      </div>
  </div>
</div>
