<div id="search-filter" class="records-filter pull-right">
  <div class="btn-group">
    <div class="input-append">
      <form action="" method="get" class="form-inline">
      <div class="input-group">
      <select class="form-control"
        id="search-filter-input"
            name="search" 
            value="{query.search}"
            type="text" 
            class="form-control"
        placeholder="{@translate value="Search"/}">
          <option value="Unapproved">Unapproved</option>
          <option value="Approved">Approved</option>
        </select>
      </a>
      </span>
      </div>
      
    </form>
    </div>
  </div>
</div>