<div id="reports">
  {>"loader.html"/}
  <div class="row">
      <div class="col-md-12">

		  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="reports-table" style="display:none;">
		  </table>


      </div>
  </div>
	<div class="list-group">
		<div class="list-group-item"><strong>{@translate value="WEEKLY NOTIFICATION"/}</strong></div>
		<a href="./report_calculated?report=report_anc" class="list-group-item">{@translate value="Weekly Notification Form - Epidemiological Diseases"/} ({@translate value="Current"/})</a>
		<div class="list-group-item"><strong>{@translate value="MONTHLY MALARIA REPORT"/}</strong></div>
		<a href="./report_calculated?report=report_anc" class="list-group-item">Order of vaccines, diluants and infection material form (Current)</a>
		<div class="list-group-item"><strong>{@translate value="MONTHLY VACCINATION REPORT"/}</strong></div>
		<a href="./report_calculated?report=report_anc" class="list-group-item">Order of vaccines, diluants and infection material form (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">Vaccination Report (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">Vaccines/Intrants management (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">Monitoring of preventable deseases through vaccination (Current)</a>
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 2. CURATIVE ACTIVITIES"/}</strong></div>
		<a href="./report_calculated?report=report_anc" class="list-group-item">2.1 SCREENING (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">2.2 Consultation of sexual violence survivors (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">2.3 ISTs/HIV consultation (Current)</a>		
		<a href="./report_calculated?report=report_anc" class="list-group-item">2.4 New cases identification (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">2.5 Laboratory / 2.6 Care (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">2.7. Malaria (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">2.8 Diagnosis and end of cases put in observation (Current)</a>
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 3. MATERNAL HEALTH"/}</strong></div>
		<a href="./report_calculated?report=report_anc" class="list-group-item">3.1 Antenatal clinic (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">3.2 PMTCT (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">3.3 Partners and family members of the PW (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">3.4 Pregnant women vaccination / 3.5 Pregnancy maturity (Current)</a>
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 4. CHILD'S HEALTH"/}</strong></div>
		<a href="./report_calculated?report=report_anc" class="list-group-item">4.1 Child's vaccination (Current)</a>
		<a href="./report_calculated?report=report_anc" class="list-group-item">4.2 Pre-scholary consultation / 4.3 Growth follow up at the pre-scholary consultation (Current)</a>
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 5. PROMOTIONAL ACTIVITIES"/}</strong></div>
		<a href="./report_calculated?report=report_anc" class="list-group-item">5. Promotional activities (health center) (Current)</a>
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 6. COMMUNITY CARE SITE ACTIVITIES"/}</strong></div>
		<a href="./report_calculated?report=report_anc" class="list-group-item">6. Community care site activities (Current)</a>
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 7. SUPERVISION"/}</strong></div>
		<a href="./report_calculated?report=report_anc" class="list-group-item">7. Supervisions (Current)</a>
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 8. RESOURCES MANAGEMENT"/}</strong></div>
		<a href="./report_calculated?report=report_anc" class="list-group-item">8. Resources management (Current)</a>
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 9. HEALTH'S MUTUAL"/}</strong></div>
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 10. SUMMARY OF THE USE OF SERVICES"/}</strong></div>
		<a href="./report_calculated?report=report_childgrowth" class="list-group-item">Report Child Growth(Current)</a>
		<a href="./report_calculated?report=report_contraceptive" class="list-group-item">Report Contraceptive (Current)</a>
		<a href="./report_calculated?report=report_dtc" class="list-group-item">Report DTC (Current)</a>
		<a href="./report_calculated?report=report_ipd" class="list-group-item">Report IPD (Current)</a>
		<a href="./report_calculated?report=report_leprosy" class="list-group-item">Report Leprosy (Current)</a>
		<a href="./report_calculated?report=report_motherchildward" class="list-group-item">Report Mother Child Ward (Current)</a>
		<a href="./report_calculated?report=report_opd" class="list-group-item">Report OPD (Current)</a>
		<a href="./report_calculated?report=report_postnatal" class="list-group-item">Report Postnatal (Current)</a>
	</div>
	
</div>