<div id="reports">
  {>"loader.html"/}
  <div class="row">
      <div class="col-md-12">

		  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="reports-table" style="display:none;">
		  </table>


      </div>
  </div>
	<div class="list-group">
		<a href="./report_calculated?report=report_anc" class="list-group-item">Report ANC (Current)</a>
		<a href="./report_calculated?report=report_childgrowth" class="list-group-item">Report Child Growth(Current)</a>
		<a href="./report_calculated?report=report_contraceptive" class="list-group-item">Report Contraceptive (Current)</a>
		<a href="./report_calculated?report=report_dtc" class="list-group-item">Report DTC (Current)</a>
		<a href="./report_calculated?report=report_ipd" class="list-group-item">Report IPD (Current)</a>
		<a href="./report_calculated?report=report_leprosy" class="list-group-item">Report Leprosy (Current)</a>
		<a href="./report_calculated?report=report_motherchildward" class="list-group-item">Report Mother Child Ward (Current)</a>
		<a href="./report_calculated?report=report_opd" class="list-group-item">Report OPD (Current)</a>
		<a href="./report_calculated?report=report_postnatal" class="list-group-item">Report Postnatal (Current)</a>
	</div>
	
</div>