<div id="report_calculated">
  {>"loader.html"/}
  <div id="report-name" class="list-group-item">{title} - {period}</div>
  <div class="row">
      <div class="col-md-12">
          <form id="report-form" action="" method="post">
			<input type="hidden" name="report" value="{report}"></input>
			<input type="hidden" name="title" value="{title}"></input>
			<input type="hidden" name="period" value="{period}"></input>
			<div id="form"></div>
			<a class='btn btn-lg btn-default' href='{baseURL}/reports'>Cancel</a>
			<button id="report_submit" class='btn btn-lg btn-primary pull-right' type='submit' value='save'>Save</button>
          </form>
      </div>
  </div>
</div>
