<div id="reports">
  {?isBrowser}
	<div class="list-group">
		<div class="list-group-item"><strong>{@translate value="WEEKLY NOTIFICATION"/}</strong></div>
    <div class="report-item" data-report="report_epidemiological" data-title="{@translate value="Weekly Notification Form - Epidemiological Diseases" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY MALARIA REPORT"/}</strong></div>
    <div class="report-item" data-report="report_malariacomplement" data-title="{@translate value="Form 1 : Monthly Report complementing the SNIS" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY DATA ON REPRODUCTIVE HEALTH"/}</strong></div>
    <div class="report-item" data-report="report_reprohealth" data-title="{@translate value="Monthly data on reproductive health at a health center/maternity" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY VACCINATION REPORT"/}</strong></div>
    <div class="report-item" data-report="report_vaccination" data-title="{@translate value="Form 1: Vaccination Report" /}" />
    <div class="report-item" data-report="report_vaccinationintrants" data-title="{@translate value="Form 1: Vaccines/Intrants management" /}" />
    <div class="report-item" data-report="report_monitoringvaccination" data-title="{@translate value="Form 1: Monitoring of preventable deseases through vaccination" /}" />
    <div class="report-item" data-report="report_ordervaccine" data-title="{@translate value="Order of vaccines, diluants and infection material form" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 2. CURATIVE ACTIVITIES"/}</strong></div>
    <div class="report-item" data-report="report_screening" data-title="{@translate value="2.1 SCREENING" /}" />
    <div class="report-item" data-report="report_svv" data-title="{@translate value="2.2 Consultation of sexual violence survivors" /}" />
    <div class="report-item" data-report="report_isthiv" data-title="{@translate value="2.3 ISTs/HIV consultation" /}" />
    <div class="report-item" data-report="report_nci" data-title="{@translate value="2.4 New cases identification" /}" />
    <div class="report-item" data-report="report_labcare" data-title="{@translate value="2.5 Laboratory / 2.6 Care" /}" />
    <div class="report-item" data-report="report_malaria" data-title="{@translate value="2.7. Malaria" /}" />
    <div class="report-item" data-report="report_diagnosis" data-title="{@translate value="2.8 Diagnosis and end of cases put in observation" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 3. MATERNAL HEALTH"/}</strong></div>
    <div class="report-item" data-report="report_anc" data-title="{@translate value="3.1 Antenatal clinic" /}" />
    <div class="report-item" data-report="report_pmtct" data-title="{@translate value="3.2 PMTCT" /}" />
    <div class="report-item" data-report="report_family" data-title="{@translate value="3.3 Partners and family members of the PW" /}" />
    <div class="report-item" data-report="report_pregnant" data-title="{@translate value="3.4 Pregnant women vaccination / 3.5 Pregnancy maturity" /}" />
    <div class="report-item" data-report="report_postnatal" data-title="{@translate value="3.6 Postnatal" /}" />
    <div class="report-item" data-report="report_familyplanning" data-title="{@translate value="3.7 Family Planning" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 4. CHILD'S HEALTH"/}</strong></div>
    <div class="report-item" data-report="report_childvaccination" data-title="{@translate value="4.1 Child vaccination" /}" />
    <div class="report-item" data-report="report_preschool" data-title="{@translate value="4.2 Pre-scholary consultation / 4.3 Growth follow up at the pre-scholary consultation" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 5. PROMOTIONAL ACTIVITIES"/}</strong></div>
    <div class="report-item" data-report="report_promo" data-title="{@translate value="5. Promotional activities (health center)" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 6. COMMUNITY CARE SITE ACTIVITIES"/}</strong></div>
    <div class="report-item" data-report="report_community" data-title="{@translate value="6. Community care site activities" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 7. SUPERVISION"/}</strong></div>
    <div class="report-item" data-report="report_supervision" data-title="{@translate value="7. Supervisions" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 8. RESOURCES MANAGEMENT"/}</strong></div>
    <div class="report-item" data-report="report_resources" data-title="{@translate value="8. Resources management" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 9. HEALTH'S MUTUAL"/}</strong></div>
    <div class="report-item" data-report="report_mutual" data-title="{@translate value="9. Health mutual" /}" />
		<div class="list-group-item"><strong>{@translate value="MONTHLY CANVAS - 10. SUMMARY OF THE USE OF SERVICES"/}</strong></div>
    <div class="report-item" data-report="report_summary" data-title="{@translate value="10. Summary  of the use of services" /}" />
	</div>
  {/isBrowser}
</div>
